extends layout.pug

block content
  .content
    h1 Welcome to <span id='Orange'>employee</span> controller web-application!
    p All instructions are indicated in "Instructions" menu item above
    p “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service