extends layout.pug

block content
  .content
    h1 Instructions
    p <span id='Orange'>employee</span> controller web-application is designed for managing employees. At this stage of the development of this application you can see how many employees you have hired, know their personal information and create new employees
    h2 API
    p We also have API for getting information from database, for now it only supports GET method. Link: 
    a(href="/api/v1/EmployeesList") /api/v1/EmployeesList
