nav.navigation 
    h1.logo
        a(href="/") Employee controller app 
    ul.nav 
        li 
            a(href="/employees") All employees
        li 
            a(href="/employees/Add") Add employee
        li
            a(href="/instructions") Instructions